* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.App {
  display: flex;
  width: 90%;
  max-width: 1000px;
  gap: 20px;
  margin: 20px;
}

.user-form {
  height: fit-content;
}

.todo-list {
  height: 410px;
  overflow: auto;
}

.user-form,
.todo-list {
  background: #d5eafc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.user-form h2,
.todo-list h2 {
  font-size: 1.6em;
  color: #333;
  margin-bottom: 15px;
}

.user-form input,
.user-form textarea {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.user-form button {
  background-color: #28a745;
  color: white;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.todo-item {
  background: #d5eafc;
  padding: 12px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.todo-item p {
  margin: 0;
}

button.edit,
button.delete {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button.edit {
  background-color: #007bff;
}

button.delete {
  background-color: #dc3545;
}

.delete-confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-confirmation-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.delete-confirmation-content button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

button.confirm {
  background-color: #28a745;
  color: white;
}

button.cancel {
  background-color: #ccc;
  color: black;
}

/* Responsive */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
    width: 100%;
  }
}

.edit-form-style {
  padding: 0.5rem;
  border-radius: 4px;
}